* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.app {
    margin: 1rem
}

.site-name {
    font-size: 2rem;
}

.home {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color:inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: rgb(226, 194, 14);
}

.nav li.hover {
    background-color: #777;
}

.song-card {
    width:100%;
    padding: 2rem;
    display: flex;
    border-bottom: 1rem solid
}

.song-card .left {
    height: 100%; 
    width: 50%;
}
.song-card .right {
    height: 100%;
    width: 50%
}

.song-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

